#pp-nav li .active span, .pp-slidesNav .active span {
  background:#00e0d0;
  border-color: #00e0d0!important ;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
}

h1, h2, h3 {
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container__about {
  display: flex;
}

.container__services {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.container__item__services {
  flex-basis: 0;
  flex-grow: 1;
  flex-basis: 25%;
  padding: 0 15px; 
}

.container__item__services .text {
  color: #fff;
  font-size: 15px;
}

.container__item__services .title {
  color: #ffffff;
  font-size: 16px;
}

.container__item {
flex-basis: 0;
flex-grow: 1;
padding: 0 30px;
}

.container__item .title {
  font-size: 30px;
}

.container__item .text {
  font-size: 17px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.container__item__services .about__icon {
  width: 50px;
  height: 50px;
}

.about__icon path {
 fill: #00e0d0;
}


/* Стили самого первого слайда */


.top-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/top-block.jpg")
  center
  no-repeat;
  background-size: cover;
}



.top-block__title {
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}

.top-block__suptitle {
  font-size: 42px;
  color: #ffffff;
  text-align: center;
}




/* Стили второго слайда */



.block__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}


.block__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/top-block.jpg")
  center
  no-repeat;
  background-size: cover;
}


.section {
    text-align:center;
    font-size: 3em;
  }



  /* Cтили 3-го слайда */

  .block__request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
  }


  /* Стили header */

  .header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header__section2 .nav a {
    color: #000000;
    
  }

  .header__section2 .nav a:hover {
    color: #00e0d0;
    
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #00e0d0
  }

  .header__section2 .header__logo {
    color: #00e0d0;
  }



  /* Стили обратной связи */


.text__request {
  font-size: 25px;
  color: #000000;
}


.flex__request {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0 15px; 
}


.input-text-wrap {
  max-width: 25.5rem;
  position: relative;
}

.input-text-wrap label {
  display: block;
  position: static;
}

.input-text-wrap input,
.input-text-wrap textarea {
  display: block;
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  color: #000;
}

.input-text-wrap input:-webkit-autofill,
.input-text-wrap textarea:-webkit-autofill,
.input-text-wrap input:-webkit-autofill:hover,
.input-text-wrap textarea:-webkit-autofill:hover,
.input-text-wrap input:-webkit-autofill:focus,
.input-text-wrap textarea:-webkit-autofill:focus,
.input-text-wrap input:-webkit-autofill:active,
.input-text-wrap textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.input-text-wrap textarea {
  padding-top: 1rem;
  height: 11.5rem;
  line-height: 2.2rem;
}

.input-text-wrap.active .placeholder {
  top: 0;
  font-size: 1.2rem;
}

.input-text-wrap.active .placeholder:before {
  left: -5px;
  right: -5px;
}

.input-text-wrap .placeholder {
  z-index: 10;
  position: absolute;
  top: 2rem;
  left: 1.2rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-text-wrap .placeholder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -1;
  height: 100%;
}

.input-text-wrap .wpcf7-not-valid-tip {
  color: tomato;
}

input.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #005EB8;
  border-radius: 3.8rem;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 3rem;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

input.submit:hover {
  background: rgba(0, 94, 184, 0.8);
}


  /* Стили менюшки сверху */


  .nav {
    font-size: 14px;
    text-transform: uppercase;

  }

 .nav__link {
   display: inline-block;
   vertical-align: top;
   margin: 0 15px;
   color: #ffffff;
   text-decoration: none;
   transition: color .4s ease-in-out;
   position: relative;
 }

 .nav__link::after{
   content: "";
   display: block;
   width: 100%;
   height: 3px;

   opacity: 0;

   background-color: #00e0d0;

   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;

   transition: opacity .4s ease-in-out;
 }

 .nav__link:hover {
   color: #00e0d0;
 }

 .nav__link:hover:after {
  display: block;
  opacity: 1;
}
