body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
}

h1, h2 {
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.top-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../img/top-block.jpg")
  center
  no-repeat;
  background-size: cover;
}



.top-block__title {
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}

.top-block__suptitle {
  font-size: 42px;
  color: #ffffff;
  text-align: center;
}

.block__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}

.section {
    text-align:center;
    font-size: 3em;
  }

  .header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header__section2 .nav a {
    color: #000000;
    
  }

  .header__section2 .nav a:hover {
    color: #00e0d0;
    
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff
  }

  .header__section2 .header__logo {
    color: black;
  }

  .nav {
    font-size: 14px;
    text-transform: uppercase;

  }

 .nav__link {
   display: inline-block;
   vertical-align: top;
   margin: 0 15px;
   color: #ffffff;
   text-decoration: none;
   transition: color .4s ease-in-out;
   position: relative;
 }

 .nav__link::after{
   content: "";
   display: block;
   width: 100%;
   height: 3px;

   opacity: 0;

   background-color: #00e0d0;

   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;

   transition: opacity .4s ease-in-out;
 }

 .nav__link:hover {
   color: #00e0d0;
 }

 .nav__link:hover:after {
  display: block;
  opacity: 1;
}